@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(../img/fondoi.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
}

.background-abus {
  background-image: url(../img/fondoedit.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
}

.text-container {
  text-align: center;
  color: white;
  position: absolute;
  transform: translateZ(0);
  z-index: 2;
  border: 1px solid white;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5%;
}
.image-container img {
  width: 650px;
  height: 450px;
}
.image-container p {
  margin: 20px;
  font-size: 20px;
  color: white;
  text-align: start;
}

.contenedor-tarjeta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5%;
  justify-content: center;
}

.tarjeta {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 400px;
}
.tarjeta h2 {
  color: #ccc;
}
.tarjeta p {
  color: #ccc;
}
.tarjeta .calificacion {
  font-size: 24px;
  /* Color de las estrellas */
  color: #ffc107;
}
.tarjeta .calificacion .estrella {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.tarjeta .calificacion .estrellaw {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
}

.title {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  color: #fff;
}

@media (max-width: 1380px) {
  .image-container img {
    display: none;
  }
  .contenedor-tarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 5%;
    justify-content: center;
    padding-bottom: 20%;
  }
}
@media (max-width: 980px) {
  .contenedor-tarjeta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 5%;
    justify-content: center;
    padding-bottom: 20%;
  }
  .tarjeta {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
  }
}
@media (max-width: 850px) {
  #my-img {
    display: none;
  }
}
#wrap {
  display: flex;
  align-items: center;
  padding: 3%;
  padding-bottom: 12%;
}

#txt {
  color: white;
  font-size: 18px;
  text-align: left;
  margin-left: 1%;
  margin-right: 5%;
}

#my-img {
  margin-top: 3%;
  margin-left: 5%;
  width: 750px;
  height: 500px;
  margin-right: 20px;
}

/*El código aqui presente define los estilos para un contenedor,
 una tarjeta de contacto, controles de formulario y estrellas.
 El contenedor se ha configurado para que se centre en la pantalla
 con display flex y los elementos dentro de él se alineen en el centro.
 La tarjeta de contacto tiene un ancho máximo de 800px, un borde redondeado,
 sombra y margen. Se han aplicado reglas de medios para ajustar la tarjeta
 a dispositivos más pequeños. Los controles del formulario tienen una 
 sombra nula cuando se enfocan. Las estrellas tienen un color diferente 
 cuando están activas.*/
.container-fluid {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  justify-content: center;
  align-items: center;
}

.contact-card {
  height: 750px;
  width: 700px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 7px 6px 45px 17px rgba(255, 255, 255, 0.42);
  -webkit-box-shadow: 7px 6px 45px 17px rgba(255, 255, 255, 0.42);
  -moz-box-shadow: 7px 6px 45px 17px rgba(255, 255, 255, 0.42);
  margin-top: 20%;
  margin-bottom: 20%;
}

.form-gr {
  text-align: start;
  font-size: 18px;
  margin: 15px;
  color: white;
}

.title-form {
  text-align: center;
  font-size: 22px;
  border: 5px outset #ffffff;
  margin-bottom: 35px;
  color: white;
  font-style: inherit;
  font-family: "Courier New", Courier, monospace;
}

.button-send {
  text-align: center;
  align-items: center;
  height: 30px;
  width: 70px;
  font-size: 15px;
  color: black;
  margin-left: 45%;
  border: 2px ridge #ffffff;
}
.button-send:hover {
  transform: scale(1.18);
  background-color: rgba(25, 214, 41, 0.1921568627);
  color: #d1d1d1;
}

@media (max-width: 850px) {
  .contact-card {
    height: 750px;
    width: 300px;
  }
}
.form-control:focus {
  box-shadow: none;
}

.star {
  color: #d1d1d1;
  font-size: 2.5em;
  cursor: pointer;
  transition: color 200ms;
}

.star.active {
  color: #ffcc00;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 5%;
  margin: 20px 100px 20px 100px;
  grid-gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  justify-content: center;
}
.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  color: black;
  margin: 5%;
}
.card h2 {
  font-size: 22px;
}
.card:hover {
  transform: scale(1.04);
}

@media (max-width: 1450px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 300px;
    height: 550px;
  }
  .card img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
  .footer {
    display: none;
  }
}
@media (max-width: 980px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 300px;
    height: 400px;
  }
  .card img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card p {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
  .footer {
    display: none;
  }
}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  color: #fff;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.element {
  color: white;
  padding-top: 1%;
  text-align: center;
  animation: move-right 1s linear forwards;
  position: relative;
  left: -100%;
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #131416;
  color: white;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

@media (max-width: 850px) {
  .footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
