* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(../img/fondoi.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
}

.background-abus {
  background-image: url(../img/fondoedit.jpg);
  background-size: cover;
  justify-content: center;
}

.background-rest {
  background-image: url(../img/fondoedit.jpg);
  background-size: cover;
}

.text-container {
  text-align: center;
  color: white;
  position: absolute;
  transform: translateZ(0);
  z-index: 2;
  border: 1px solid white;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

@media (max-width: 1399px) {
  .image-container img {
    display: none;
  }
}
.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5%;
}
.image-container img {
  width: 650px;
  height: 450px;
}
.image-container p {
  margin: 20px;
  font-size: 20px;
  color: white;
  text-align: start;
}

@media (max-width: 850px) {
  #my-img {
    display: none;
  }
}
#wrap {
  display: flex;
  align-items: center;
  padding: 3%;
  padding-bottom: 12%;
}

#txt {
  color: white;
  font-size: 18px;
  text-align: left;
  margin-left: 1%;
  margin-right: 5%;
}

#my-img {
  margin-top: 3%;
  margin-left: 5%;
  width: 750px;
  height: 500px;
  margin-right: 20px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container-contact {
  padding-bottom: 15px;
}

.contact-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.test {
  visibility: hidden;
  padding-bottom: 75px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 5%;
  margin: 20px 100px 20px 100px;
  grid-gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  justify-content: center;
}
.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  color: black;
  margin: 5%;
}
.card h2 {
  font-size: 22px;
}
.card:hover {
  transform: scale(1.04);
}

@media (max-width: 1450px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 400px;
    height: 650px;
  }
  .card img {
    width: 370px;
    height: 370px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
}
@media (max-width: 980px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 500px;
    height: 750px;
  }
  .card img {
    width: 370px;
    height: 370px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card p {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
}
.footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #131416;
  color: white;
  position: relative;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  color: #fff;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.element {
  color: white;
  padding-top: 1%;
  text-align: center;
  animation: move-right 1s linear forwards;
  position: relative;
  left: -100%;
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
