.footer {

    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #131416;
    color: white;
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
  }